/* Fonts */
@font-face {
    font-family: 'Open Sans Light';
    src: url(../fonts/OpenSans-Light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Light-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Light-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../fonts/OpenSans-Semibold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Semibold-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Semibold-webfont.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../fonts/OpenSans-LightItalic-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-LightItalic-webfont.woff) format('woff'),
         url(../fonts/OpenSans-LightItalic-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Regular-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Bold-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Bold-webfont.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Italic-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Italic-webfont.woff) format('woff'),
         url(../fonts/OpenSans-Italic-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
    background: #f1efe8;
    margin: 0;
    padding: 0;
    background: url(../images/sandstone/bg-gradient-sand.png) repeat-x 0 0,
                url(../images/sandstone/bg-sand.png) repeat 0 0,
                #f5f1e8;
}

#wrapper {
    padding: 0 20px;
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
}

#outer-wrapper {
    position: relative;
    border-top: 2px solid #fff;
}

#masthead {
    padding-top: 50px;
}

a {
    color: #0096dd;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0073aa;
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    display: block;
    margin: 0 0 12px 0;
    line-height: 100%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #484848;
}

h1 {
    font-size: 48px;
    letter-spacing: -2px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
    margin-top: 5px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
}

small {
    font-size: 12px;
    line-height: 16px;
}

h2 small {
    font-size: 60%;
    font-style: italic;
}

.errortitle {
    margin-top: 40px;
}

#tabzilla {
    display: block;
    background: transparent url(../images/tabzilla.png) repeat scroll 0 0;
    height: 42px;
    width: 150px;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -2000px;
    overflow: hidden;
}

.feed {
    background-color: rgba(255,255,255,0.4);
    height: 48px;
    width: 650px;
    border-radius: 5px;
    line-height: 3.5;
}

.feed:hover {
    background-color: rgba(255,255,255,0.8);
}

.feed a {
    display: block;
    width: 100%;
    height: 100%;
}

.feed a img{
    float: left;
    margin-right: 10px;
}

.title_anchor {
    margin-left: -0.8em;
    padding-left: 0.8em;
    padding-top: 0.3em;
}

.title_anchor a {
    display: none;
    position: absolute;
    margin-left: -0.8em;
}

.title_anchor:hover a {
    display: block;
}

#locale_page_title {
    position: absolute;
    top: 66px;
    left: 700px;
    font-size: 65px;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 1.4em;
    line-height: 1.35;
    min-width: 1.4em;
    padding: 4px 8px;
    text-align: center;
    background: rgba(255,255,255, 0.4);
}

.locamotion {
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}

#colophon {
    color: #666;
    padding: 20px 0 40px;
    font-size: .875em;
    line-height: 1.285;
    background: #fff;
    width: 100%;
    margin: 1em 0 0;
    float: left;
}

#colophon .row {
    width: 960px;
    margin: 0 auto;
}

#colophon .footer-logo {
    float: left;
    width: 140px;
    margin: 0 10px;
}

#colophon .footer-license {
    width: 300px;
    float: left;
}

#colophon .footer-license p {
    margin: 0;
}

#colophon .footer-nav li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
}

#colophon .footer-nav .wrap::before {
    content: " · ";
}

table {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,0.4);
    clear: both;
}

table td {
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
}

table th {
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
    font-family: "Open Sans Light", sans-serif;
}

.table th {
    text-align: center;
}

.main_column {
    min-width: 300px;
    text-align: left;
}

.raw_status {
    font-weight: bold;
    text-transform: uppercase;
}

.raw_untranslated {
    color: #ff5b52;
}

.raw_outdated {
    color: #ffbd52;
}

.raw_missing_reference,
.raw_missing_locale {
    color: #82817f;
}

.deadline_overdue {
    color: #f00;
    font-weight: bold;
}

.deadline_closing {
    color: #ff965b;
    font-weight: bold;
}

.web_projects td {
    text-align: left;
}

.web_projects .perc {
    text-align: right;
}

.web_projects .status {
    min-width: 350px;
}

.table_legend {
    font-size: 85%;
}

.web_projects_status {
    display: block;
    float: left;
    height: 15px;
}

.web_projects_errors {
    background-color: #ff5252;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

.web_projects_trans {
    background-color: #92cc6e;
}

.web_projects_fuzzy {
    background-color: #fff152;
}

.web_projects_identical {
    background-color: #a0e179;
}

.web_projects_untrans {
    background-color: #ffbd52;
}

/* Empty page with list of locales */

#locales {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    -ms-column-count: 5;
    column-count: 5;
    width: 100%;
    padding: 40px 20px;
}

#locales ul {
    margin: 0;
}

/* Rules used in Project View */

.project_view #wrapper {
    width: 95%;
}

.project_view #colophon .row {
    margin-left: 2%;
}

.button,
.button:link,
.button:visited {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
    background-color: #43a6e2;
    background-color: #277ac1;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#43a6e2), to(#277ac1));
    /* Konqueror */
    background-image: -moz-linear-gradient(#43a6e2, #277ac1);
    /* FF 3.6+ */
    background-image: -ms-linear-gradient(#43a6e2, #277ac1);
    /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a6e2), color-stop(100%, #277ac1));
    /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(#43a6e2, #277ac1);
    /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(#43a6e2, #277ac1);
    /* Opera 11.10 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
    /* IE8+ */
    background-image: linear-gradient(#43a6e2, #277ac1);
    /* the standard */
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    line-height: 1.1;
    text-decoration: none;
    min-width: 80px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
    -ms-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

.button:hover,
.button:link:hover,
.button:visited:hover,
.button.hover,
.button:link.hover,
.button:visited.hover,
.button:focus,
.button:link:focus,
.button:visited:focus,
.button.focus,
.button:link.focus,
.button:visited.focus {
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3), inset 0 12px 24px 2px #38a9ed;
    -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3), inset 0 12px 24px 2px #38a9ed;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3), inset 0 12px 24px 2px #38a9ed;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
    -ms-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

#hide_buttons button {
    float: left;
    margin-right: 10px;
}

#hidden_message {
    font-weight: bold;
    position: absolute;
    top: 30px;
    padding-left: 10px;
}

.hidden,
.hidden_locale {
    display: none;
}

.project_missing {
    background-color: #ff5252;
    color: #ff5252;
}

.project_missing_strings {
    background-color: #fff;
}

.project_in_progress {
    background-color: #ffbd52;
}

.project_done {
    background-color: #92cc6e;
    color: #92cc6e;
}

.project_none {
    background-color: #fff;
    color: #fff;
}

#project_data caption {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

#project_data th {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

#project_data tr td {
    font-size: 14px;
    text-align: center;
    max-width: 130px;
}

#project_data tr .locale {
    text-align: left;
    white-space: pre;
    min-width: 70px;
    line-height: 1.6;
}

#project_data tfoot tr td{
    font-size: 11px;
}

#project_results td {
    padding: 10px 20px;
    background-color: #FFF;
}

#project_results th {
    padding: 10px 20px;
}

#project_results .filename {
    font-size: 80%;
}

#project_results .results_file {
    text-align: left;
}

#project_results .results_stats {
    text-align: right;
}

#project_locales_summary th {
    padding: 10px 20px;
}

#project_locales_summary td {
    padding: 10px 20px;
    background-color: #FFF;
    text-align: left;
    max-width: 300px;
    vertical-align: top;
}

#project_locales_summary .category {
    text-align: center;
}

#project_locales_summary .title {
    display: block;
    font-weight: bold;
}

#project_locales_summary .description {
    display: block;
    font-size: 80%;
}

#project_locales_summary .summary_locales {
    width: 300px;
    text-align: left;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    h2 {
        font-size: 28px;
    }

    .feed {
        width: 95%;
    }

    #wrapper,
    #colophon .row {
        width: 720px;
    }

    #masthead h2 {
        padding-top: 60px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #locale_page_title {
        left: auto;
        right: 55px;
        top: 125px;
        font-size: 45px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 760px) {
    body {
        font-size: 12px;
    }

    h2 {
        font-size: 24px;
    }

    #wrapper,
    #colophon .row {
        width: 480px;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #tabzilla {
        right: 30px;
    }

    .feed {
        width: 460px;
        line-height: 4;
    }

    #locale_page_title {
        left: auto;
        right: 40px;
        top: 90px;
        font-size: 30px;
    }

    .main_column {
        min-width: 180px;
    }

    .web_projects .status {
       min-width: 200px;
    }

    #colophon .footer-nav {
        clear: both;
        margin-left: 120px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 11px;
    }

    h2 {
        font-size: 20px;
    }

    #wrapper,
    #colophon .row {
        width: 95%;
        min-width: 460px;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #tabzilla {
        right: 30px;
    }

    .feed {
        width: 360px;
        line-height: 4.5;
    }

    #locale_page_title {
        left: auto;
        right: 120px;
        top: 60px;
        font-size: 30px;
    }

    .main_column {
        min-width: 140px;
    }

    .web_projects .status {
       min-width: 150px;
    }

    #colophon .footer-nav {
        clear: both;
        margin-left: 120px;
        padding-top: 10px;
    }

    #colophon .footer-license {
        width: 200px;
    }
}

/* Rules for the graph displayed on the locale view */
#graphdiv {
    margin: 20px 0 10px -20px;
    width: 700px;
    height: 350px;
}

#graphdiv .dygraph-legend > span {
    display: none;
}

#graphdiv .dygraph-legend > span.highlight {
    display: inline;
}

#graphdiv .dygraph-axis-label {
    font-size: 12px;
}

@media only screen and (max-width: 760px) {
    #graphdiv {
        width: 500px;
    }

    #graphdiv .dygraph-axis-label {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #graphdiv {
        width: 450px;
    }

    #graphdiv .dygraph-axis-label {
        font-size: 8px;
    }
}
/* end of rules for the graph */
