/* Assign background to html to avoid background disappearing when scrolling
 * horizontally on large pages (e.g. projects)
 */
html {
    background: url(../images/sandstone_theme/bg-gradient-sand.png) repeat-x 0 0,
                url(../images/sandstone_theme/bg-sand.png) repeat 0 0,
                #f5f1e8;
}

#wrapper {
    min-height: 800px;
    max-width: 1200px;
}

#masthead h2 {
    padding-top: 90px;
}

h2 small {
    font-size: 60%;
    font-style: italic;
}

.feed {
    background-color: rgba(255,255,255,0.4);
    height: 48px;
    width: 650px;
    border-radius: 5px;
    line-height: 3.5;
}

.feed:hover {
    background-color: rgba(255,255,255,0.8);
}

.feed a {
    display: block;
    width: 100%;
    height: 100%;
}

.feed a img{
    float: left;
    margin-right: 10px;
}

#locale_page_title {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 65px;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 1.4em;
    line-height: 1.3;
    min-width: 1.4em;
    padding: 4px 8px;
    text-align: center;
    background: rgba(255,255,255, 0.4);
}

.locamotion {
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}

#colophon .footer-license {
    width: 300px;
}

#colophon .footer-nav li {
    float: left;
    margin-right: 5px;
}

#colophon .footer-nav .wrap::before {
    content: " · ";
}

table {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,0.4);
    clear: both;
}

table td {
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
}

table th {
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
    font-family: "Open Sans Light","Droid Arabic Naskh",sans-serif;
}

.table th {
    text-align: center;
}

.main_column {
    min-width: 300px;
    text-align: left;
}

.raw_status {
    font-weight: bold;
    text-transform: uppercase;
}

.raw_untranslated {
    color: #ff5b52;
}

.raw_outdated {
    color: #ffbd52;
}

.raw_missing_reference,
.raw_missing_locale {
    color: #82817f;
}

.deadline_overdue {
    color: #f00;
    font-weight: bold;
}

.web_projects td {
    text-align: left;
}

.web_projects .perc {
    text-align: right;
}

.web_projects .status {
    min-width: 350px;
}

.table_legend {
    font-size: 85%;
}

.web_projects_status {
    display: block;
    float: left;
    height: 15px;
}

.web_projects_errors {
    background-color: #ff5252;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

.web_projects_trans {
    background-color: #92cc6e;
}

.web_projects_fuzzy {
    background-color: #fff152;
}

.web_projects_identical {
    background-color: #a0e179;
}

.web_projects_untrans {
    background-color: #ffbd52;
}

/* Empty page with list of locales */

.project_view #wrapper {
    margin: 0 20px;
}

#locales {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    -ms-column-count: 5;
    column-count: 5;
    width: 100%;
}

/* Rules used in Project View */

#hide_buttons button {
    float: left;
    margin-right: 10px;
}

#hidden_message {
    font-weight: bold;
    position: absolute;
    top: 30px;
    padding-left: 10px;
}

.hidden,
.hidden_locale {
    display: none;
}

.project_missing {
    background-color: #ff5252;
    color: #ff5252;
}

.project_missing_strings {
    background-color: #fff;
}

.project_in_progress {
    background-color: #ffbd52;
}

.project_done {
    background-color: #92cc6e;
    color: #92cc6e;
}

.project_none {
    background-color: #fff;
    color: #fff;
}

#project_data caption {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

#project_data th {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

#project_data tr td {
    font-size: 14px;
    text-align: center;
    max-width: 130px;
}

#project_data tr .locale {
    text-align: left;
    white-space: pre;
    min-width: 70px;
    line-height: 1.6;
}

#project_data tfoot tr td{
    font-size: 11px;
}

#project_results td {
    padding: 10px 20px;
    background-color: #FFF;
}

#project_results th {
    padding: 10px 20px;
}

#project_results .filename {
    font-size: 80%;
}

#project_results .results_file {
    text-align: left;
}

#project_results .results_stats {
    text-align: right;
}

#project_locales_summary th {
    padding: 10px 20px;
}

#project_locales_summary td {
    padding: 10px 20px;
    background-color: #FFF;
    text-align: left;
    max-width: 300px;
    vertical-align: top;
}

#project_locales_summary .category {
    text-align: center;
}

#project_locales_summary .title {
    display: block;
    font-weight: bold;
}

#project_locales_summary .description {
    display: block;
    font-size: 80%;
}

#project_locales_summary .summary_locales {
    width: 300px;
    text-align: left;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    h2 {
        font-size: 28px;
    }

    #wrapper {
        width: 95%;
    }

    #masthead h2 {
        padding-top: 60px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #locale_page_title {
        right: 90px;
        top: -95px;
        font-size: 45px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 760px) {
    body {
        font-size: 12px;
    }

    h2 {
        font-size: 24px;
    }

    #wrapper {
        width: 95%;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    .feed {
        width: 100%;
    }

    #locale_page_title {
        right: 10px;
        top: -90px;
        font-size: 30px;
    }

    .main_column {
        min-width: 180px;
    }

    .web_projects .status {
       min-width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 11px;
    }

    h2 {
        font-size: 20px;
    }

    #wrapper {
        width: 95%;
        min-width: 460px;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    .feed {
        width: 100%;
    }

    #locale_page_title {
        right: 10px;
        top: -110px;
        font-size: 30px;
    }

    .main_column {
        min-width: 140px;
    }

    .web_projects .status {
       min-width: 150px;
    }
}
