#wrapper {
    min-height: 800px;
    max-width: 1200px;
}

#masthead h2 {
    padding-top: 90px;
}

body.project #wrapper {
    margin: 0px 20px;
    width: auto;
}

h2 small {
    font-size: 60%;
    font-style: italic;
}

div#locales {
    -moz-column-count: 5;
    width: 100%;
}

#colophon .footer-license {
    width: 300px;
}

#colophon .footer-nav li {
    float: left;
    margin-right: 5px;
}

#colophon .footer-nav li.wrap::before {
    content: " · ";
}

#main-content table {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,0.4);
    min-width: 650px;
}

#main-content table.results {
    min-width: 0;
}

#main-content table.results td {
    padding: 10px 20px;
    background-color: #FFF;
}

#main-content table.results th {
    padding: 10px 20px;
}

#main-content table.results .results_file {
    text-align: left;
}

#main-content table.results .results_stats {
    text-align: right;
}

#main-content table.results td.final {
    font-weight: bold;
}

#main-content table th {
    text-align: center;
}

#main-content table td.filename {
    font-size: 80%;
    padding: 0 5px;
}

#main-content table span.filename {
    font-size: 80%;
}

#main-content table .maincolumn {
    width: 400px;
    text-align: left;
}

span.rawstatus {
    font-weight: bold;
    text-transform: uppercase;
}

span.untranslated {
    color: #ff5b52;
}

span.outdated {
    color: #ffbd52;
}

span.missing_reference,
span.missing_locale {
    color: #82817f;
}

#main-content table .overdue {
    color: #f00;
    font-weight: bold;
}

#main-content table td,
#main-content table th {
    border: 1px solid #d3d3d3;
    padding: 1px 10px;
}

#main-content table td.missing {
    background-color: #ff5252;
    color: #ff5252;
}

#main-content table td.inprogress {
    background-color: #ffbd52;
}

#main-content table td.done {
    background-color: #92cc6e;
    color: #92cc6e;
}

#main-content table td.none {
    background-color: #fff;
    color: #fff;
}

.feed {
    background-color: rgba(255,255,255,0.4);
    height: 48px;
    width: 650px;
    border-radius: 5px;
    line-height: 48px
}

.feed:hover {
    background-color: rgba(255,255,255,0.8);
}

.feed a {
    display: block;
    width: 100%;
    height: 100%;
}

.feed a img{
    float: left;
    margin-right: 5px;
}

#locale {
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 65px;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 92px;
    line-height: 88px;
    min-width: 150px;
    padding: 4px 8px;
    text-align: center;
    background: rgba(255,255,255, 0.4);
}

.locamotion{
    vertical-align: middle;
    margin-left: 12px;
}

.bugbox1 {
    background: rgba(255,255,255, 0.4);
    margin-bottom: 1em;
}

.bugbox1 .bugdesc {
    font-weight: bold;
}

table.webprojects td {
    text-align: left;
}

table.webprojects td.perc {
    text-align: right;
}

table.webprojects td.status {
    min-width: 300px;
}

.table_legend {
    font-size: 85%;
}

span.wp_status {
    display: inline-block;
    height: 15px;
    float: left;
}

span.wp_errors {
    background-color: #ff5252;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
}

span.wp_trans {
    background-color: #92cc6e;
}

span.wp_fuzzy {
    background-color: #fff152;
}

span.wp_untrans {
    background-color: #ffbd52;
}

#project caption {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#project tr td {
    font-size: 14px;
    text-align: center;
    max-width: 130px;
}

#project tr td.locale {
    text-align: left;
    white-space: pre;
}

@media only screen and (min-width: 760px) and (max-width: 1000px) {
    #wrapper {
        width: 90%;
        min-width: 740px;
    }

    #masthead h2 {
        padding-top: 60px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #locale {
        right: 90px;
        top: -95px;
        font-size: 45px;
        min-width: 60px;
        line-height: 65px;
        height: 65px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 760px) {
    #wrapper {
        width: 90%;
        min-width: 460px;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    .feed {
        width: 440px;
    }

    #locale {
        right: 10px;
        top: -90px;
        font-size: 30px;
        min-width: 40px;
        line-height: 52px;
        height: 50px;
    }

    #main-content table {
        width: 100%;
        min-width: 440px;
    }

    #main-content table .maincolumn {
        width: 70%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    #wrapper {
        width: 90%;
        min-width: 320px;
    }

    .feed {
        width: 100%;
    }

    #masthead h2 {
        padding-top: 10px;
        font-size: 20px;
    }

    #masthead h2 img {
        display: block;
        padding-bottom: 6px;
    }

    #locale {
        right: 10px;
        top: -110px;
        font-size: 30px;
        min-width: 40px;
        line-height: 52px;
        height: 50px;
    }

    #main-content table {
        min-width: 320px;
    }

    #main-content table .maincolumn {
        width: 70%;
    }
}
