{% extends 'default.twig' %}

{% block main_content %}
    <h2 class="errortitle">Wrong locale code: {{ locale }}</h2>
    <p>The requested language is not available on the dashboard.</p>
{% endblock %}
